.BannerBottomCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 10rem;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.CardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
    overflow: hidden;
}

.CardImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.CardContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
}

.CardContent h4 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
}