.PaymentCallback {
    width: 100vw;
    height: 90vh;
    justify-content: flex-start;
    padding: 1rem;
}

.PaymentCont {
    width: 50%;
    height: 100%;
    background: #f5f5f5;
    border-radius: 5px;
    justify-content: flex-start;
    gap: 1rem;
    padding: .5rem;

    & .Verifying {
        gap: 1rem;

        & h3 {
            font-size: .8rem;
            font-weight: 600;
            color: var(--primary-dark);
        }
    }


    & .PaymentLogo {
        width: auto;
        height: auto;
        border-radius: 5px;

        & img {
            width: 5rem;
            height: 5rem;
            object-fit: cover;
            border-radius: 5px;
        }

        & span {
            font-size: 1.5rem;
            font-weight: 600;

            & span {
                color: var(--primary-darker);
            }
        }
    }
}

.ReceiptCont {
    gap: 1rem;

    & h3 {
        font-size: 1rem;
        font-weight: 600;
        color: var(--primary-darker);
    }

    & p {
        font-size: .8rem;
        font-weight: 500;
        color: #666;
    }
}

.ReceiptDetails {
    width: 100%;
    height: auto;
    background: var(--Background-Paper);
    border-radius: 5px;
    justify-content: flex-start;
    gap: 1rem;
    padding: .5rem;

    & h3 {
        font-size: 1rem;
        font-weight: 600;
        color: var(--primary-dark);
    }

    & .ReceiptItem {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        border-radius: 5px;

        & span {
            font-weight: 500;
            color: var(--primary-darker);
        }

        & p {
            font-size: 1rem;
            font-weight: 500;
        }
    }
}

.AmountPaid {
    margin-top: 2rem;
    border-radius: 0 !important;
    border-top: 1px solid var(--primary-dark);
    padding: 1rem;

    & span,
    p {
        font-size: 1.2rem !important;
        font-weight: 600 !important;
        color: var(--primary-dark) !important;
    }
}