.CartLeft {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}


.EmptyCart {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.EmptyCart h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.EmptyCartImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 200px;
}

.BackToShopBtn {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    gap: 1rem;
    margin: 1rem;
}

.CartTitle {
    font-size: 1rem;
    margin: 0;
    margin-bottom: .5rem;
}

.CartItems {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    gap: .5rem;
}

.CartItem {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem;
    background-color: #f1f1f1;
    border-radius: 5px;
    gap: 1rem;

}

.CartItemImg {
    width: 10%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

.CartItemDetails {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 4px;
}

.Categor,
.Brand {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    & span {
        font-size: .8rem;
        color: var(--primary-darker);
    }
}

.CartItemTitle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    margin: 0;
    color: var(--primary-darker);

    & i {
        font-size: .8rem;
    }
}

.CartItemPrice {
    font-size: .8rem;
    color: #888;
    margin-bottom: .5rem;
}

.CartInfo {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.CartInfo p {
    width: auto;
    font-size: .8rem;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}



.CartButtons {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
}

.QuantityInput {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 25%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 .5rem;
    outline: none;
}

.QuantityBtns {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.QuantityBtn {
    background-color: #fff;
    border: none;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    outline: none;
    padding: 8px;
    border-radius: 50%;
}

.RemoveCartItemBtn {
    color: #f44336;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
}

.CartTotal {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.CheckoutBtn {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}