.Product-Card {
    width: 200px;
    min-height: 250px;
    margin-bottom: .5rem;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: var(--boxShadow);
    border-radius: .5rem;
    transition: all .3s ease-in-out;
    padding: .5rem;
    cursor: pointer;
    text-decoration: none;
    color: var(--black);

}

.Product-Card:hover {
    box-shadow: var(--boxShadowHover);
    scale: 0.95;
}

.Product-Card img {
    width: 100%;
    height: 8rem;
    min-height: 8rem;
    object-fit: cover;
    border-radius: 5px;
}

.ProductContent {
    width: 100%;
    height: 80%;
}

.Product-Card h3 {
    font-size: .8rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--primary-dark);
}


.Product-Card p {
    font-size: .8rem;
    color: var(--primary-darker);
}

.ProductButtons {
    display: flex;
    justify-content: flex-start;
    gap: .3rem;
}

.ProductButton {
    display: inline-block;
    padding: .5rem .5rem;
    border: none;
    border-radius: 5px;
    background-color: var(--success-lighter);
    color: var(--success-darker);
    font-size: .6rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: var(--success-light);
        transition: all 0.3s ease-in-out;
    }
}

.ProductButton:nth-child(2) {
    border: 1px solid var(--success-darker);
    background-color: transparent;
    color: var(--success-darker);

}

.ProductButton i {
    margin-right: .5rem;
}

.Ratings {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    margin-bottom: .5rem;

    & i {
        color: var(--warning);
        font-size: .8rem;
    }
}

.ErrorMessage {
    color: var(--danger) !important;
}