.Cart {
  width: 100%;
  height: 100%;
  display: flex;
}

.LeftCart {
  width: 75%;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 .5rem;
  margin: .5rem;
  overflow: hidden;
}


.RightCart {
  width: 25%;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 .5rem;
  margin: .5rem;
  overflow: hidden;
}