.AccountSettings {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    overflow: auto;
    gap: 1rem;

    h3 {
        font-size: 1rem;
        font-weight: bold;
    }

    & p {
        color: #666;
    }
}

.AccSetting {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
    box-shadow: var(--boxShadow);
    border-radius: 5px;
    padding: .5rem;

    h3 {
        font-weight: bold;
    }

    & p {
        font-size: 1rem;
        color: #666;
    }

    .SettingsItemRight {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & span {
            font-size: 1rem;
            font-weight: 600;
        }

        & p {
            font-size: .9rem;
            color: #666;
        }
    }

}

.SettingsItem {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: .5rem;
}