.SettleConsultation {
    width: 100%;
    height: 100%;
    padding: .5rem;
    box-sizing: border-box;
    overflow: auto;
    gap: 1rem;
}

.SettleHeader {
    display: flex;
    flex-direction: column;
    gap: .5rem;


    & h3 {
        font-size: 1rem;
        font-weight: 600;
        color: #000;
    }

    p {
        font-size: .8rem;
        font-weight: 500;
    }
}

.SettleBody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5rem;
    margin: .5rem 0;
    padding: 0;


    & span {
        font-weight: 600;
    }

    & p {
        font-size: 1rem;
        font-weight: 400;
    }
}

.AmountCharged {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
}

.SettleFooter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    margin: .5rem 0 0 0;
    padding: 0;

    & button {
        width: 100%;
        height: 40px;
        background-color: #000;
        color: #fff;
        border: none;
        outline: none;
        border-radius: 5px;
        font-size: .8rem;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease-in-out;


    }

    & i {
        font-size: 1rem;
        font-weight: 600;
        margin: 0;
        padding: 0;
    }

    & button:hover {
        background-color: #fff;
        color: #000;
        border: 1px solid #000;
    }

    & button:active {
        background-color: #fff;
        color: #000;
        border: 1px solid #000;
    }
}



.SettleHeader,
.SettleBody,
.AmountCharged,
.SettleFooter {
    margin-bottom: 20px;
}

.SettleHeader h3 {
    margin: 0 0 10px;
}

.SettleBody span,
.AmountCharged span {
    font-weight: bold;
}

.SettleFooter {
    text-align: center;
}

.SettleButton {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SettleButton i {
    margin-left: 5px;
}

.ant-timeline-item-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;

    & span {
        font-weight: 500;
    }

    & p {
        font-size: .8rem;
        color: #666;
    }

}

.ant-timeline-item-head,
.ant-timeline-item-head-custom {
    & span {
        font-size: 1.5rem;
        position: relative;
        top: 5px;
    }
}