.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.LoginContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.LoginLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    border-radius: 10px 0 0;
    overflow: hidden;
    background: #f5f5f5;
}

.LoginRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    border-radius: 0 10px 10px 0;
    background: #fff;
    overflow: hidden;
}

.LoginCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 1rem;
    padding: 10px;
}

.LoginCont h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #2f3542;
}

.LoginCont img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.LoginCont p {
    font-size: 0.8rem;
    color: #666;
}

.LoginCont form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.LoginInput {
    width: 100%;
}


.LoginRemember {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 20px;
    margin: 10px 0;
    gap: .5rem;
}

.LoginBtns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 20px;
    margin: 10px 0;
}

.LoginBtns button {
    width: 45%;
    height: 3rem;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.LoginBtns button:hover {
    transform: scale(1.05);
}

.LoginBtns .LoginBtn1 {
    font-weight: 600;
    border: none;
    background: #28a31d;
    color: #fff;
}

.LoginBtns .LoginBtn2 {
    width: 53%;
    background: transparent;
    color: #010000;
    border: 2px solid #151212;
    gap: 1rem;
}

.LoginBtn2 i {
    margin-right: 5px;
}

.LoginForgot {
    margin: 10px 0;
}


.input-container {
    position: relative;
    display: inline-block;
}