.ProductCard {
    width: 100%;
    max-width: 220px;
    height: 320px;
    margin-bottom: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    transition: all .3s ease-in-out;
    padding: .5rem;
}

.ProductCard:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    scale: 1.01;
}

.ProductCard img {
    width: 100%;
    max-height: 50%;
    margin-bottom: .5rem;
    border-radius: .5rem;
}

.ProductContent {
    width: 100%;
    height: 80%;
}

.ProductCard h3 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.ProductCard p {
    font-size: .8rem;
}

.Desc {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    margin-top: .5rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


.ProductButtons {
    display: flex;
    justify-content: flex-start;
    margin: .5rem;
    gap: .5rem;
}

.ProductButton {
    display: inline-block;
    padding: .5rem .5rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(69, 180, 69);
    color: #fff;
    font-size: .6rem;
    font-weight: 600;
    cursor: pointer;
}

.ProductButton:nth-child(2) {
    border: 1px solid var(--green);
    background-color: transparent;
    color: var(--green);

}

.ProductButton i {
    margin-right: .5rem;
}