.Categories {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 75%;
    overflow: auto;
}

.CategoriesItems,
.CategoryContent {
    width: 100%;
    height: 94vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: auto;



    & .Header {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & p {
            font-size: .8rem;
            font-weight: 400;
        }
    }
}

.CategoryButtons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.CategoryButtons button {
    width: 90%;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

.NA {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    & i {
        font-size: 2rem;
        color: var(--error-light);
    }
}

.CategoryButtons button.active {
    background-color: var(--success-lighter);
    color: var(--success-darker);
}

.CategoryContent {
    width: 100%;
}

.Category {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: #f9f9f9;
    border-radius: 4px;
    transition: background-color 0.3s ease;

}

.Category.active {
    background-color: #ffffff;
    transition: background-color 0.3s ease;
}

.Category h4 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0;
    align-self: start;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
}

.CategoryContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 40vh;
    height: 100%;
    margin-top: 10px;
}


/* media queries */
@media screen and (max-width: 768px) {
    .Categories {
        grid-template-columns: 100%;
        grid-gap: 1rem;
        padding: .5rem .1rem;
    }

    .CategoriesItems,
    .CategoryContent {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1rem 0;
    }

    .CategoryButtons {
        flex-direction: row;
        gap: .5rem;
        overflow: auto;
        justify-content: flex-start;
        align-items: center;
    }

    .CategoryButtons button {
        width: auto;
    }

    .CategoryContainer {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .NA {
        width: 100%;
        height: 100%;
    }

}