.LandingContainer {
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.LandingLeft,
.LandingRight {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;

}

.LandingLeft {
    padding: 0 3rem;

    & h1 {
        font-size: 2rem;
        font-weight: 600;
    }

    & span {
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--warning);
    }

    & p {
        font-size: 1rem;
        font-weight: 500;
    }


}

.LandingBtns {
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    gap: 1rem;
}

.LandingRight {

    & .LandingImage {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}