.Chats {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #f5f5f5;
}