.ProfileAccount {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 75vh;
    overflow-y: auto;
}

.ProfileAccount h4 {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin: 0 .5rem;
}

.AccountInfoContainer {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.AccountInfoLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 90%;
    margin: .5rem;
    box-shadow: 0 0 5px 1px #ccc;
    border-radius: 4px;
    gap: 0.5rem;
    overflow: hidden;
    text-transform: capitalize;


    & .ProfilePic {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10rem;
        height: 10rem;
        object-fit: cover;
        overflow: hidden;
    }

    & .Pic {
        width: 8rem;
        height: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: 5px;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    & h5 {
        font-size: .8rem;
        font-weight: 400;
        text-align: center;
        margin: 0 .5rem;
        color: #777;
    }

    & p {
        font-size: 1rem;
        font-weight: bold;
        text-align: center;

    }

    & p>span {
        font-size: .8rem;
        font-weight: normal;
        color: #777;
    }
}

.Uploading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    border: 1px solid var(--green);
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 var(--green);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.ProfilePicBadge {
    margin: 5rem 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ProfileContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    gap: .5rem;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 0 5px 1px #ccc;
    padding-bottom: .5rem;
    opacity: 0.8;


    & span {
        font-size: .8rem;
        font-weight: 400;
        text-align: center;
        margin: 0 .5rem;
        align-self: self-start;
        margin-left: 40%;
        text-transform: capitalize;
    }

    & h5 {
        font-size: .8rem;
        font-weight: 400;
        text-align: center;
        margin: 0 .5rem;
        align-self: self-start;
        margin-left: 40%;
    }

    & p {
        font-size: .8rem;
        font-weight: normal;
        text-align: center;
        margin: 0 .5rem;
    }
}

.ProfileBadge {
    bottom: 6%;
    left: 45%;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #007bff;
    box-shadow: 0 0 5px 1px #ccc;

    & i {
        font-size: 1rem;
        color: #fff;
    }
}

.AccountInfoRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48%;
    height: 90%;
    margin: .5rem;
    box-shadow: 0 0 5px 1px #ccc;
    border-radius: 4px;
    gap: 0.5rem;
    overflow: hidden;
}

.AccountInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 90%;
    overflow-y: auto;
    margin: .5rem;
    padding: .5rem;
    box-shadow: 0 0 5px 1px #ccc;
    border-radius: 4px;

}

.AccountInfoItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 96%;
    margin-bottom: .5rem;
}

.AccountInfoItem label,
.PaymentInfoItem label,
.ShippingInfoItem label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: .8rem;
}

.AccountInfoItem input,
.PaymentInfoItem input,
.ShippingInfoItem input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.ProfileAccount button {
    padding: 10px;
    width: 100%;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.ProfileAccount button:hover {
    background-color: #0056b3;
}