.ProfileAccount {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    & h4 {
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
    }
}


.AccountInfo {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1rem;
    padding: .5rem;
}

.AccountInfoLeft {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    height: 100%;
    padding: 1rem;
    box-shadow: var(--boxShadow);
    border-radius: 4px;
    gap: 0.5rem;
    overflow: hidden;
    text-transform: capitalize;


    & .ProfilePic {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10rem;
        height: 10rem;
        object-fit: cover;
        overflow: hidden;
        border-radius: 50%;
        position: relative;
        transition: all .3s ease-in-out;

        &:hover {
            cursor: pointer;
            transition: all .3s ease-in-out;


            & .UpdatePhoto {
                display: flex;
            }
        }
    }

    & .Pic {
        width: 8rem;
        height: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: 5px;


        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }


    }

    & h5 {
        font-size: .8rem;
        font-weight: 400;
        text-align: center;
        color: #777;
    }

    & p {
        font-size: 1rem;
        font-weight: bold;
        text-align: center;

    }

    & span {
        font-size: .8rem;
        font-weight: normal;
        color: #777;
    }
}

.UpdatePhoto {
    height: 8rem;
    width: 8rem;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
    color: var(--white);
    transition: color 0.3s ease-in-out;
    position: absolute;
    background: var(--bg-color-clear);
    border-radius: 50%;

    & i {
        font-size: 1.3rem;
    }

    & h1 {
        font-size: 1rem;
        font-weight: 600;
    }
}

.Uploading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    border: 1px solid var(--green);
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 var(--green);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.ProfileMore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ProfileMoreItem {
    display: flex;
    justify-content: center;
    align-items: center;

    & p {
        font-size: .8rem;
        font-weight: 600;
        text-align: center;
        margin: 0 .5rem;
        color: var(--bg-color);
    }
}

.ProfileBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: .5rem;
    margin-top: 1rem;

    & button {
        width: 100%;
        font-weight: 600;
        transition: all .3s ease-in-out;
        background: var(--error-light);
        color: var(--error-dark);

        &:hover {
            background: var(--error-lighter);
            color: var(--error-darker);
        }
    }

    & small {
        font-size: .8rem;
        background: var(--warning-lighter);
        padding: .5rem;
        border-radius: 5px;
        color: var(--warning-darker);
    }
}

.ProfileContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    gap: .5rem;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: var(--boxShadow);
    padding-bottom: .5rem;
    opacity: 0.8;


    & span {
        font-size: .8rem;
        font-weight: 400;
        text-align: center;
        margin: 0 .5rem;
        align-self: self-start;
        margin-left: 40%;
        text-transform: capitalize;
    }

    & h5 {
        font-size: .8rem;
        font-weight: 400;
        text-align: center;
        margin: 0 .5rem;
        align-self: self-start;
        margin-left: 40%;
    }

    & p {
        font-size: .8rem;
        font-weight: normal;
        text-align: center;
        margin: 0 .5rem;
    }
}

.ProfileBadge {
    bottom: 6%;
    left: 45%;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    box-shadow: var(--boxShadow);

    & i {
        font-size: 1rem;
        color: #fff;
    }
}

.AccountInfoRight {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
    height: 100%;
    gap: 1rem;
    padding: 1rem;
    box-shadow: var(--boxShadow);
    overflow: auto;
}

.AccountInfoItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.ChangeBtn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 2rem;
    gap: .5rem;
    margin-top: 1rem;

    & button {
        padding: .5rem;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        transition: all .3s ease-in-out;
    }

    & .SaveChanges {
        background: var(--success-light);
        color: var(--success-darker);

        &:hover {
            background: var(--success-lighter);
            color: var(--success-darker);
        }
    }

    & .CancelChanges {
        background: var(--error-light);
        color: var(--error-darker);

        &:hover {
            background: var(--error-lighter);
            color: var(--error-darker);
        }
    }

    & .EditProfile {
        background: var(--bg-color);
        color: var(--white);

        &:hover {
            border: 2px solid var(--bg-color);
            color: var(--bg-color);
            background: transparent;
        }
    }
}