.TopRight {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    overflow: auto;
}

.TopRight h3 {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 0.5rem;
    align-self: center;
}

.TopRight .TopRightItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3rem;
    padding: .3rem;
    box-sizing: border-box;
    border-radius: .3rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.TopRightItem:hover {
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.TopRight .TopRightItem .Image {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: .3rem;
    box-sizing: border-box;
    border-radius: .3rem;
}

.TopRight .TopRightItem .Image img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 50%;
}

.TopRight .TopRightItem .Title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: .3rem;
    box-sizing: border-box;
    border-radius: .3rem;
}

.TopRight .TopRightItem .Title span {
    font-size: .8rem;
    font-weight: 600;
    color: #333;
}

.TopRight .TopRightItem .Title span:nth-child(2) {
    font-size: 0.7rem;
    font-weight: 400;
    color: #666;
    text-transform: capitalize;
}


.TopRight .TopRightItem .Icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: .3rem;
    box-sizing: border-box;
    border-radius: .3rem;
    opacity: .8;
}