.Navbar {
    background-color: #dcdada;
    box-shadow: var(--boxShadow);
    width: 100%;
    height: auto;
    padding: .5rem;
}

.NavbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    width: 100%;
}

.NavbarLogo {
    height: auto;
    width: 10%;
    overflow: hidden;
    display: flex;
}

.NavbarLogo img {
    height: auto;
    width: 30%;
    object-fit: cover;
    transition: all .3s ease-in-out;
}

.NavbarLogo a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.NavbarLogo a span {
    font-size: 1rem;
    font-weight: 600;
    color: #000;
    transition: all .3s ease-in-out;
    cursor: pointer;
    display: flex;

    & p {
        color: var(--success-dark);
    }
}

.NavRight,
.NavLeft {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.NavLeft {
    width: 70%;
}

.NavRight {
    justify-content: flex-end;
    width: 20%;
}

.Searchbar {
    height: 100%;
    width: 25%;
}

.NavbarLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    gap: .5rem;
}

.NavItem {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    font-weight: 600;
    border-radius: 5px;
    padding: .2rem .3rem;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
        background-color: #f5f5f5;
        color: var(--success-dark) !important;
    }
}


.NavItem a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: .5rem;
    color: black;
    transition: all .3s ease-in-out;
}

.NavItem a i {
    font-size: 1rem;
    color: var(--success-dark);
}

.NavRight a i {
    font-size: 1.2rem;
    color: var(--success-darker);
}

.CartBadge {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: #fff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    font-size: 0.7rem;
    font-weight: bold;
}

.NavBottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50%;
    width: 100%;
    gap: 1rem;

    & a {
        font-size: 1rem;
        font-weight: 600;
        gap: .5rem;
        color: var(--green);
        transition: all .3s ease-in-out;
    }

    & .FlashSale {
        width: 50%;
    }

    & .EventsHighlight {
        width: 40%;
    }
}

.MenuToggler {
    display: none;
}

.SearchResults {
    position: absolute;
    top: 8%;
    left: 10%;
    width: auto;
    max-width: 80%;
    background-color: #f1f1f1;
    z-index: 1000;
    box-shadow: var(--boxShadow);
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
    border-radius: 5px;

    & ul {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .5rem;
            padding: .2rem .3rem;
            border-radius: 5px;
            cursor: pointer;
            transition: all .3s ease-in-out;

            &:hover {
                background-color: #fff;
            }

            & img {
                width: 50px;
                height: 50px;
                object-fit: cover;
                border-radius: 5px;
            }

            .ResultsDetails {
                display: flex;
                flex-direction: column;
                gap: .5rem;
            }
        }
    }

}

.NoResults {
    width: 70%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-size: 1rem;
    color: var(--danger);

    & p {
        font-size: 1rem;
        color: var(--danger);
    }

}

/* media queries */
@media screen and (max-width: 768px) {
    .Navbar {
        padding: .3rem;
    }

    .NavbarLogo {
        width: auto;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        & a span {
            display: none;
        }

        & img {
            width: 3rem !important;
        }

        & i {
            font-size: 1.5rem !important;
        }
    }

    .NavbarLogo img {
        width: 30%;
    }

    .Searchbar {
        width: 30%;
    }

    .NavLeft {
        display: none;
    }

    .NavLeft.active {
        width: 60%;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #f5f5f5;
        height: auto;
        z-index: 1000;
        box-shadow: var(--boxShadow);

    }

    .NavMobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 1rem;
        padding: 1rem;
    }

    .NavRight {
        width: 30%;
    }

    .NavBottom {
        gap: .5rem;
    }

    .MenuToggler {
        display: block;
        margin-left: 1rem;
    }
}