.ConsultsTable {
    width: 100%;
    height: 88vh;
    overflow: auto;


    table {

        th,
        td {
            white-space: nowrap;
        }

    }
}

.EmptyTable {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 500;

    & i {
        font-size: 2rem;
    }

    & p {
        font-size: larger;
        font-weight: 500;
    }
}